
<style>
h1 {
       color:purple;
       text-align:left;

}
h2 {
        color: blue;
        font-family: "Verdana";
        font-size: 14px;
        font-variant-caps: small-caps;
        text-align: left;
        }

h3 {
        color: purple;
        font-family: "Verdana";
        font-size: 10px;
        text-align: left;
        }
h4{
        color: blue;
        font-family: "Arial Black";
        font-size: 20px;
        border-style: dotted;
        border-style:double;
        background-color: purple;
        border-color: blue;
        text-align: center;

}

 </style>
